*{
    margin: 0;
    box-sizing: border-box;
}

/* <---------- Cover-picture -----------> */

.about-cover-img{
    position: relative;
    width: 100%;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/mysalon-5560b.appspot.com/o/istockphoto-1135396260-612x612.jpg?alt=media&token=db8fd71b-4bc8-46a8-bbdc-c01091496c2f');
    height: 680px;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-cover-text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-image-text{
    position: absolute;
    bottom: 300px;
    color: #fff;
    font-family: 'Lobster', cursive;
    letter-spacing: 2px;
    font-size: 55px;
    margin: 20px 0 20px 0;
    font-style: italic;
}

.about-image-subtext{
    position: absolute;
    bottom: 250px;
    color: #fff;
    font-family: 'Lobster', cursive;
    letter-spacing: 2px;
    font-size: 35px;
    margin: 20px 0 20px 0;
    font-style: italic;
}

/* <---------- About-intro -----------> */

.about-intro{
    text-align: center;
    line-height: 48px;
    padding: 100px 0;
    background-color: #E9ECEF;
}

.about-intro-title{
    color: #f59f7e;
    font-family:sans-serif;
}

.about-intro-content{
    text-align: center;
    line-height: 48px;
    color: #212529;
    font-family: Yantramanav,sans-serif;
    padding-top: 40px;
    font-style: italic;
    padding-left: 5rem;
    padding-right: 5rem;
}