.data-table{
    height: 400px;
    width: 60%;
    margin: auto;
    margin-top:50px;
    margin-bottom: 80px;
}

.dashboard-title{
    margin-top: 80px;
    margin-left: 290px;
}

.dashboard-title-h1{
    font-family: sans-serif;
    color: #f59f7e;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .dashboard-title{
        margin-left: 10px;
        text-align: center;
    }
}

@media screen and (min-width:481px) and (max-width:600px) {
    .dashboard-title{
        margin-left: 10px;
        text-align: center;
    }   
}

@media screen and (min-width:601px) and (max-width:852px) {
    .dashboard-title{
        margin-left: 10px;
        text-align: center;
    }
}

@media screen and (min-width:853px) and (max-width:1024px) {
    .dashboard-title{
        margin-left: 10px;
        text-align: center;
    }
}

@media screen and (min-width:1025px) and (max-width:1439px) {
    .dashboard-title{
        margin-left: 10px;
        text-align: center;
    }
}

@media screen and (min-width:1441px) and (max-width:2560px) {
    .dashboard-title{
        margin-left: 10px;
        text-align: center;
    }
}
