.data-table{
    height: 400px;
    width: 60%;
    margin: auto;
    margin-top:50px;
    margin-bottom: 80px;
}

.dashboard-title{
    margin-top: 80px;
    margin-left: 290px;
}

.dashboard-title-h1{
    font-family: sans-serif;
    color: #f59f7e;
}