*{
    margin: 0;
    box-sizing: border-box;
}

.header{
    background-color: #f8f9fa;
    height: 4.2rem;
    width: 100%;
    position: relative;
    display: flex;
    border-bottom: 3px solid #f59f7e
}

.brand-name{
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.nav-bar{
    display: flex;
    text-align: right;
    margin-left: 680px;

}

.nav-bar ul{
    list-style-type: none;
    display: inline-flex;
    gap: 50px;
}

.nav-bar ul li {
    display: inline-block;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.nav-bar a{
    text-decoration: none;
    color: #00000080;
}

.nav-bar a:hover{
    color: #f59f7e;
}

.logo{
    height: 50px;
    margin-top: 8px;
    position: absolute;
    margin-left: 40px;
}

.image{
    position: relative;
    width: 100%;
    background-image:url('../assets/header-background-2.jpg');
    background-size: cover;
    height: 680px;
}

.image-text{
    position: absolute;
    z-index: 1;
    bottom: 350px;
    left: 500px;
    color: #fff;
    font-family: 'Lobster', cursive;
    letter-spacing: 2px;
    font-size: 55px;
    margin: 20px 0 20px 0;
    text-align: center;
    font-style: italic;
}

.btn-booknow{
    position: absolute;
    bottom: 310px;
    left: 710px;
    border-radius: 50px;
    font-size: 16px;
    padding: 10px 15px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    text-align: center;
    border-width: 1px;
    color: #f59f7e;
    border-color: #f59f7e;
    cursor: pointer;
    background: rgba(8, 8, 8, 0.5)
}

.btn-booknow:hover{
    background-color: #f59f7e;
    color: white;
}

.salon-intro{
    text-align: center;
    line-height: 48px;
    padding: 100px 0;
    background-color: #E9ECEF;
}

.salon-intro-h1{
    text-align: center;
    line-height: 48px;
    color: #212529;
    font-family: Yantramanav,sans-serif;
    padding-top: 40px;
    font-style: italic;
}

.salom-intro-heading{
    color: #f59f7e;
    font: syne,sans-serif;
}

.knowmore-btn{
    margin-top: 50px;
    border-radius: 50px;
    font-size: 16px;
    padding: 10px 15px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    background-color: #E9ECEF;
    text-align: center;
    border-width: 1px;
    color: #f59f7e;
    border-color: #f59f7e;
    cursor: pointer;
}

.knowmore-btn:hover{
    background-color: #f59f7e;
    color: white;
}


