*{
    margin: 0;
    box-sizing: border-box;
}

/* <---------- Cover-picture -----------> */

.service-cover-img{
    position: relative;
    width: 100%;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/mysalon-5560b.appspot.com/o/servicepageimg.jpeg?alt=media&token=7e25ac2a-93f5-4f9b-a580-15fd5fd8fd23');
    background-size: cover;
    height: 680px;
    background-repeat: no-repeat;
}

.service-cover-text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.service-image-text{
    position: absolute;
    bottom: 300px;
    color: #fff;
    font-family: 'Lobster', cursive;
    letter-spacing: 2px;
    font-size: 55px;
    margin: 20px 0 20px 0;
    font-style: italic;
}

.service-image-subtext{
    position: absolute;
    bottom: 250px;
    color: #fff;
    font-family: 'Lobster', cursive;
    letter-spacing: 2px;
    font-size: 35px;
    margin: 20px 0 20px 0;
    font-style: italic;
}

/* <---------- Service-intro -----------> */

.service-intro{
    text-align: center;
    line-height: 48px;
    padding: 100px 0;
    background-color: #E9ECEF;
}

.service-intro-title{
    color: #f59f7e;
    font-family:sans-serif;
}

.service-intro-content{
    text-align: center;
    line-height: 48px;
    color: #212529;
    font-family: Yantramanav,sans-serif;
    padding-top: 40px;
    font-style: italic;
    padding-left: 5rem;
    padding-right: 5rem;
}

.service-intro-endtitle{
    color: #f59f7e;
    font-family:sans-serif;
    margin-top: 50px;
}

.service-headings{
    margin-top: 80px;
    text-align: center;
}

.title{
   color: #f59f7e;
   font-family: sans-serif;
}

.subtitle{
   margin-top: 30px;
   color: #00000080;
   font-family: sans-serif;
}

.servicepage-line{
    margin: auto;
    width: 95%;
}

.message-container{
    margin-top: 30px;
    padding-left: 5rem;
    padding-right: 5rem;
    text-align: center;
    padding-bottom: 80px;
}

.message-content{
    font-family: sans-serif;
    color:#222222;
    font-style: italic;
}

/* <---------- Media-query -----------> */ 

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .service-cover-img{
        height: 100vh;
        background-size: 100% 100%;
    }

    .service-image-text{
       bottom: 30%;
       font-size: 45px; 
    }

    .service-image-subtext{
       bottom: 15%;
       font-size: 35px;
    }
}

@media screen and (min-width:481px) and (max-width:600px) {
    .service-cover-img{
        height: 100vh;
        background-size: 100% 100%;
    }

    .service-image-text{
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 38px;
        text-align: center;
    }

    .service-image-subtext{
        top: 65%; 
        left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (min-width:601px) and (max-width:852px) {
    .service-cover-img{
        height: 100vh;
        background-size: 100% 100%;
    }

    .service-image-text{
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 38px;
        text-align: center;
    }

    .service-image-subtext{
        top: 65%; 
        left: 50%;
        transform: translateX(-50%);
    }
}