.service-section{
    padding: 100px 0;
}

.service-heading{
    text-align: center;
    color: #f59f7e;
}

.salon-underline{
    width: 110px;
    margin: 0 auto;
    border-bottom: 4px solid #6C757D;
    padding-top: 15px;
} 

.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    height: 400px;
    width: 300px;
    background-color: #f59f7e;
    border-radius: 2px;
    margin: 10px;
}

.service-image {
    height: 300px;
    width: 298px;
}

.service-price{
    margin-top: 10px;
}

.service-name,
.service-price{
    text-align: center;
}

.serviceBooking-btn{
    margin-top: 10px;
    border-radius: 50px;
    font-size: 10px;
    padding: 10px 15px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.viewmoreservice-btn{
    margin-top: 20px;
    margin-left: 670px;
    border-radius: 50px;
    font-size: 16px;
    padding: 10px 15px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}