.service-section{
    padding: 100px 0;
}


.service-heading{
    text-align: center;
    color: #f59f7e;
}

.salon-underline{
    width: 110px;
    margin: 0 auto;
    border-bottom: 4px solid #6C757D;
    padding-top: 15px;
} 