*{
    margin: 0;
    box-sizing: border-box;
}

/* <---------- Cover-picture -----------> */

.service-cover-img{
    position: relative;
    width: 100%;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/mysalon-5560b.appspot.com/o/servicepageimg.jpeg?alt=media&token=7e25ac2a-93f5-4f9b-a580-15fd5fd8fd23');
    background-size: cover;
    height: 680px;
}

.service-cover-text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.service-image-text{
    position: absolute;
    /* z-index: 1; */
    bottom: 300px;
    /* left: 400px; */
    color: #fff;
    font-family: 'Lobster', cursive;
    letter-spacing: 2px;
    font-size: 55px;
    margin: 20px 0 20px 0;
    /* text-align: center; */
    font-style: italic;
}

.service-image-subtext{
    position: absolute;
    /* z-index: 1; */
    bottom: 250px;
    /* left: 530px; */
    color: #fff;
    font-family: 'Lobster', cursive;
    letter-spacing: 2px;
    font-size: 35px;
    margin: 20px 0 20px 0;
    /* text-align: center; */
    font-style: italic;
}

/* <---------- Service-intro -----------> */

.service-intro{
    text-align: center;
    line-height: 48px;
    padding: 100px 0;
    background-color: #E9ECEF;
}

.service-intro-title{
    color: #f59f7e;
    font-family:sans-serif;
}

.service-intro-content{
    text-align: center;
    line-height: 48px;
    color: #212529;
    font-family: Yantramanav,sans-serif;
    padding-top: 40px;
    font-style: italic;
    padding-left: 5rem;
    padding-right: 5rem;
}

.service-intro-endtitle{
    color: #f59f7e;
    font-family:sans-serif;
    margin-top: 50px;
}