*{
    margin: 0;
    box-sizing: border-box;
}

.signup-container{
    padding: 20px;
    max-height: 535px;
    width: 320px;
    margin: 80px auto;
}

.avatar{
    background-color: #1bbd7e;
}

.signup-logo{
    height: 45px;
}

.signup-title{
    margin-top: 10px;
}

.signup-btn{
    margin-top: 40px;
    background-color: #f59f7e;
}

.error-msg{
    color: red;
    text-align: center;
    margin-top: 10px;
    background: antiquewhite;
    border: 1px solid red;
    padding: 10px;
}

.success-msg{
    width: 40%;
}